<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

      <div class="details content">
        <h2>
          <%= blog.title %>
        </h2>
        <div class="content">
          <p>
            <%= blog.body %>
          </p>
          <p class="snippet">
            <%= blog.snippet %>
          </p>

        </div>
        <a class="delete" data-doc="<%=blog._id%>">
          <img src="/trash-solid.svg" alt="trash can">
        </a>
      </div>

      <%- include('../partials/footer.ejs') %>

        <script>
          const deleteBtn = document.querySelector('a.delete')

          const onDeleteHandler = async (e) => {
            const endpoint = `/blogs/${deleteBtn.dataset.doc}`

            try {
              const resp = await fetch(endpoint, {
                method: 'DELETE'
              })
              const data = await resp.json()
              window.location.href = data.redirect
            } catch (error) {
              console.log(error);
            } finally {
              deleteBtn.removeEventListener('click', onDeleteHandler)
            }
          }

          deleteBtn.addEventListener('click', onDeleteHandler)
        </script>

  </body>

</html>